.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    overflow: hidden;
    z-index: 1;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 15px;
}

.list-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
}


.list-container div{
    display: flex;
  
}



.list-container div li{
    display: flex;
    margin: 0 50px 0 50px;
    font-size: 0.7em;
    padding: 10px;
    border-radius: 100px;
    font-family: 'Roboto';
}

.list-container div li:hover{
    padding: 10px;
    border:1px solid white;
    
    transition: 0.5s;
}

.list-container div  div{
    border:1px solid white;
    border-radius: 100px;
    margin: 0 15px 0 15px;
}

.icon-container{
  display: flex;
}

.list-container div  div:hover{
   background-color: white;
   color: black;
   transition: 0.5s;
}



li {
    margin: 0 15px 0 15px;

}


.App-logo {
    height: 10vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 850px) {
    
    ul {
        list-style-type: none;
        display: block;
        
        padding: 15px;
    }

    .App-logo{
       margin-left: 30vw;
    }
    
    .list-container {
        display: block;
        
    }
    .list-container-inactive {
        display: none;
        
    }
    .list-box{
        display: flex;
        flex-direction: column;
        margin: 0px;
        transition: 0.5s;
    }
    .list-container div  div{
        width: 50px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .icon-container{
        display: flex;
        flex-direction: row;
        margin: 0px;
    }
    
    
    .list-container div  div{
       
        margin: 25px 10px 10px 0 ;
    }

    .list-container div li{
        margin: 10px 0 0 5px;
        font-size: 0.9em;
    }
    
}