.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    overflow: hidden;
    z-index: 1;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 15px;
}

.list-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
}


.list-container div{
    display: flex;
  
}



.list-container div li{
    display: flex;
    margin: 0 50px 0 50px;
    font-size: 0.7em;
    padding: 10px;
    border-radius: 100px;
    font-family: 'Roboto';
}


.list-container div  div{
    border:1px solid white;
    border-radius: 100px;
    margin: 0 15px 0 15px;
}

.icon-container{
  display: flex;
}




li {
    margin: 0 15px 0 15px;

}

ul div {
    display: flex;
    align-items: center;
    
}

h3{
    position: relative;
    left: -10px;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
}

.input-bar{
    width: 25vw;
    height: 40px;
    border: none;
    outline: none;
    background-color: #000;
    color: white;
    border-radius: 15px;
  }

  .profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    margin: 0 35px;
  }
  

  .search-input{
     margin-left: 250px;
     border: 1px solid white;
     border-radius: 25px;
  }


@media screen and (max-width: 950px) {
    .navbar-container {

    }
    ul {
        list-style-type: none;
        display: flex;
        
        padding: 15px;
    }

  
    
    .list-container {
        display: flex;
        position: relative;
        left: -140px;     
    }
    
  
    .list-container div  div{
        width: 50px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .icon-container{
        display: flex;
        flex-direction: row;
        margin: 0px;
    }
    
    
    .list-container div  div{
       
        margin: 25px 10px 10px 0 ;
    }

    .list-container div li{
        margin: 10px 0 0 5px;
        font-size: 0.9em;
    }
    
}